* {
    background-color: #ffea00;
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 320px 500px 300px;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#center {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    background-color: #0a84ff;
    margin-top: 5px;
    color: black;
    font-weight: 900;
}

#div1,
#div2 {
    display: grid;
    align-items: center;
    justify-content: center;
    border: 5px solid coral;
    height: 15vh;
    font-size: larger;
    background-color: #0a84ff;
}

#result {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #0a84ff;
    height: 55vh;
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 900;
    font-size: xx-large;
    border: 5px solid coral;
}

.button {
    display: grid;
    justify-content: center;
    margin-top: 2vh;
    grid-template-columns: 130px 130px 130px;
    grid-gap: 2rem;
}

.btn {
    border-radius: 30px;
    background-color: white;
    height: 10vh;
    width: 10vw;
    font-size: x-large;
    font-weight: 900;
    color: #40f;
}


#table1 {
    height: 40vh;
    width: 24vw;
    border-collapse: collapse;
}


#table2 {
    border-collapse: collapse;
}

th,
td,
b {
    background-color: coral;
}

td {
    border: 3px solid cornflowerblue;
    padding: 0px 2em;
    background-color: #3252a2;
    color: aliceblue;
}

th {
    border: 5px solid cornflowerblue;
}

#td1,
#td12 {
    font-size: xx-large;
}


#discription{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(10, 132, 255);
    border-left: 5px solid coral;
    border-right: 5px solid coral;
}


#divbtn{
    display: grid;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(10, 132, 255);
    border-bottom: 5px solid coral;
    border-left: 5px solid coral;
    border-right: 5px solid coral;
    height: 10vh;
    align-items: center;
}


#restart{
  background-color: rgb(230, 16, 16);
  border-radius: 30px;
  height: 6vh;
  width: 10vw;
  color: rgba(0, 0, 0, 0.83);
  font-size: large;
  font-weight: 700;
}
